@using DuongVanKhuong_b10.Models
@model List<NhaXuatBan>

<ul class="nav flex-column">
    <li class="nav-item border rounded">
        NHA XUẤT BẢN
    </li>
    @foreach (var item in Model)
    {
        <li class="nav-item border rounded">
            <a class="nav-link" href="#">@item.TenNXB</a>
        </li>
    }
</ul>