@{
    ViewBag.Title = "DangNhap";
}
<div>
    <form method="post" action="/Admin/DangNhap">
        <div>
            <label>Tài khoản</label>
            <input type="text" name="taikhoan" />
        </div>
        <div>
            <label>Mật khẩu</label>
            <input type="password" name="matkhau" />
        </div>
        <input type="submit" value="Đăng nhập" />
    </form>
</div>
