@{
    ViewBag.Title = "XoaLoaiHang";
    Layout = "~/Views/Shared/KhungTrangAdmin.cshtml";
}

<h2>Sản phẩm không thể xóa</h2>
<a style="color:red" class="nav-link" href="/Admin/DMSanPham">(Quay lại danh sách sản phẩm)</a>
<p>@ViewBag.tb</p>
