@{
    ViewBag.Title = "HienThiSach";
}

<h2>HienThiSach</h2>

<table>
    <tr>
        <td>Ma sach</td>
        <td>Ten sach</td>
        <td>Don gia</td>
        <td>Hinh minh hoa</td>
    </tr>
    @foreach(var s in Model)
    {
        <tr>
            <td></td>
        </tr>
    }
</table>