@model IEnumerable<WEBGIAY.Models.chiTietDonHang>

<h4 class="card-header text-center">Thông tin sản phẩm</h4>


<table class="table">
    <tr>
        <th>
            Sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn giá / 1 sản phẩm
        </th>
        <th>
            Thành tiền
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sanPham.tenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soLuong)
            </td>
            <td>
                @String.Format("{0:0,0}", item.donGia) VNĐ
            </td>
            <td>
                @String.Format("{0:0,0}", item.thanhTien) VNĐ
            </td>
        </tr>
    }

</table>

