#sidernav {
    float: left;
    width: 13%;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 87%;
}

body {
    margin: auto;
    width: 80%;
}

#product-container {
    margin-top: 75px;
    margin-bottom: 75px;
    float: left;
    width: 87%;
}

#footer {
    clear: both;
}

#ads {
    clear: both;
}