@model IEnumerable<DoAnCuoiKi.Models.LoaiHang>

@{
    ViewBag.Title = "DMLoai";
    Layout = "~/Views/Shared/KhungTrangAdmin.cshtml";
}

<h2>Danh sách loại hàng:</h2>
<button type="button" class="btn btn-outline-warning" style="margin-left:0px;width:auto"><a href="/Admin/ThemLoaiHang">Thêm sản phẩm</a></button>

<table class="table">
    <tr>
        <th>
            Mã loại
        </th>
        <th>
            Tên loại hàng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLoai }) |
            <a class="btn btn-primary" href="~/Admin/XoaLoaiHang/?id=@item.MaLoai">Xóa</a>
        </td>
    </tr>
}

</table>
