@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/KhungTrangKhachHang.cshtml";
}
<div>
    <form method="post" action="/KhachHang/DangNhap">
        <div>
            <label>Tài khoản</label>
            <input type="text" name="taikhoan" />
        </div>
        <div>
            <label>Mật khẩu</label>
            <input type="password" name="matkhau" />
        </div>
        <input type="submit" value="Đăng nhập" />
    </form>
</div>
<h6>Bạn chưa có tài khoản?</h6>
<h6><a style="color:red" class="nav-link" href="/KhachHang/DangKy">Đăng ký</a></h6>

