@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Share/khungtrangchinh.cshtml";
}

<h2>DangNhap</h2>
<div>
    <form method="post" action="/Home/DangNhap">
        <div>
            <label>Ten</label>
            <input type="text" name="TenKhachHang" />
        </div>
        <div>
            <label>Mat Khau</label>
            <input type="text" name="MatKhau" />
        </div>
        <input type="submit" value="Dang Nhap" />
    </form>



</div>