@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <ul class="nav navbar">
                <li class="nav-item">
                    <a class="nav-link" href="#">Navbar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <form class="form-inline">
                <input type="text" class="form-control mb-2" id="inlineFormInputName2"
                       placeholder="Search">
                <input type="submit"value="Search" />
            </form>
        </div>
    </div>
    <div class="row">
        <img class="w-100" height="400" src="https://th.bing.com/th?id=OIF.5xjUc8ms4EI%2b3HsN5atHvQ&pid=ImgDet&rs=1">
        </div>
    <div class=" row" mt-5 ml-5>
        <h1 class=" list-product-subtitle w-100">NEW PRODUCT</h1>
        <div class="list-product-subtitle w-100">
            <p><br/>List product description</p>
        </div>
        <div class="product-group">
            <div class="row">
               <div class="col-3">
                   <div class="card">
                       <img class="card-img-top" src="https://dean2020.edu.vn/wp-content/uploads/2020/03/anh-meo-23.jpg">
                       <div class="card-body">
                           <p class="card-text">Mèo (chính xác hơn là loài mèo nhà để phân biệt với các loài trong họ Mèo khác)</p>
                       </div>
                   </div>
               </div>
                <div class="col-3">
                    <div class="card">
                        <img class="card-img-top" src="https://dean2020.edu.vn/wp-content/uploads/2020/03/anh-meo-23.jpg">
                        <div class="card-body">
                            <p class="card-text">Mèo (chính xác hơn là loài mèo nhà để phân biệt với các loài trong họ Mèo khác)</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img class="card-img-top" src="https://dean2020.edu.vn/wp-content/uploads/2020/03/anh-meo-23.jpg">
                        <div class="card-body">
                            <p class="card-text">Mèo (chính xác hơn là loài mèo nhà để phân biệt với các loài trong họ Mèo khác)</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img class="card-img-top" src="https://dean2020.edu.vn/wp-content/uploads/2020/03/anh-meo-23.jpg">
                        <div class="card-body">
                            <p class="card-text">Mèo (chính xác hơn là loài mèo nhà để phân biệt với các loài trong họ Mèo khác)</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img class="card-img-top" src="https://dean2020.edu.vn/wp-content/uploads/2020/03/anh-meo-23.jpg">
                        <div class="card-body">
                            <p class="card-text">Mèo (chính xác hơn là loài mèo nhà để phân biệt với các loài trong họ Mèo khác)</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img class="card-img-top" src="https://dean2020.edu.vn/wp-content/uploads/2020/03/anh-meo-23.jpg">
                        <div class="card-body">
                            <p class="card-text">Mèo (chính xác hơn là loài mèo nhà để phân biệt với các loài trong họ Mèo khác)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<script src="~/bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>