<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a href="/Home/Home">Home</a> &nbsp;&nbsp;

        <a href="/Home/About">About</a> &nbsp;&nbsp;

        <a href="/Home/Index/7/?name">ma so 7</a> &nbsp;&nbsp;


        <a href="/Home/Index/10">ma so 10</a> &nbsp;&nbsp;


        @RenderBody()
    </div>
</body>
</html>
