@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using TranVanTinh_Buoi4.Models
@model Deparment
<h2>ChiTiet</h2>
<p>mã phong ban: @Model.DeptId</p>
<p>tên phòng ban: @Model.Name</p>
<p>số nhân viên: @ViewBag.sl</p>