@{
    ViewBag.Title = "PhongBan";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using TranVanTinh_Buoi4.Models;
@model List<Deparment>
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<h2>Phong ban</h2>
<table class="table">
    <thead class="thead-dark">
        <tr class="row">
            <th>Deptld</th>
            <th>Name</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    @foreach (Deparment item in Model)
    {
        <tr class="row">
            <th>@item.DeptId</th>
            <th>@item.Name</th>
            <th><a href="/Home/ChiTiet/@item.DeptId">chi tiết</a></th>
        </tr>
    }
</table>
