<style type="text/css">
    .giohang {
        color: white;
    }
</style>

<a href="@Url.Action("GioHang","GioHang")" class="giohang">
    Giỏ hàng<i class="fa fa-shopping-cart">
    </i> (@ViewBag.TongSoLuong)
</a>


