@{
    ViewBag.Title = "Index";
    Layout = "~/Views/khungtrangchung.cshtml";
}

<h2>Index</h2>
<div class="container-fluid">
    <p>day la trang index</p><br />
    <p>Ma so: @ViewBag.ma</p>
    <p>Ten: @ViewBag.ten</p>

</div>
